@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Gothic+A1:wght@500&family=Noto+Serif:ital,wght@0,700;1,700&display=swap");

body {
  font-family: "Gothic A1", sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 350px) {
  .container {
    background-color: aquamarine;
  }
}


.container {
  padding: 50px;
  box-shadow: rgba(52, 56, 60, 1) 0px 1px 10px 0px;
  border-radius: 10px;
  border: 10px solid white;
}

.game-title {
  color: brown;
}

h1 {
  font-size: 5vw;
}

button {
  padding: 5px 25px;
  border: none;
  background-color: burlywood;
  border-radius: 15px;
  font-size: 2vw;
  font-weight: bold;
  box-shadow: rgba(20, 20, 20, 0.5) 2px 2px 5px 0px;
}

#result-area {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  font-size: 3vw;
}

#guess-area {
  margin-top: 20px;
  font-size: 3vw;
}

#user-input {
  padding: 5px;
  width: 150px;
  text-align: center;
  border-radius: 15px;
  background-color: bisque;
  border: 1px solid gray;
  margin-right: 10px;
  box-shadow: rgba(20, 20, 20, 0.5) 2px 2px 5px 0px;
}

#user-input[type="number"]::-webkit-outer-spin-button,
#user-input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

span {
  color: crimson;
}
