body {
  text-align: center;
}

.container {
  padding: 50px;
  width: 500px;
  margin: 50px auto;
  box-shadow: rgba(52, 56, 60, 1) 0px 1px 10px 0px;
}

button {
  padding: 5px 25px;
  border: none;
  background-color: burlywood;
  border-radius: 5px;
}
#result-area {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

#guess-area {
  margin-top: 10px;
  font-size: 20px;
}

#user-input {
  padding: 5px;
  width: 150px;
  text-align: center;
  border-radius: 5px;
  background-color: bisque;
  border: 1px solid gray;
}

#user-input[type="number"]::-webkit-outer-spin-button,
#user-input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

span {
  color: crimson;
  font-size: 30px;
}
